.date_line {
  display: flex;
  justify-content: center;
  padding: 20px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
}
.date_name {
  font-size: 28px;
  font-weight: bold;
}
.date_box {
  width: 25%;
  display: flex;
  align-items: center;
  font-size: 13px;
  box-shadow: 0 0 5px #ddd;
  background-color: #fff;
  font-weight: bold;
  color: #999;
}
.calendar {
  margin-left: 10px;
  width: 20%;
  color: #ff8989ff;
}
.date {
  display: flex;
  justify-content: center;
  width: 80%;
}
@media (max-width: 768px) {
  .date_line {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  .date_box {
    width: 70%;
    padding: 10px;
    border-radius: 2px;
  }
}
@media (max-width: 900px) {
  .date_line {
    text-align: center;
  }
  .date_name {
    margin-bottom: 15px;
  }
}
