<div class="chart">
  <div class="chart_box for_grid_1">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">Начисления</p>
        <h3>6.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-increase></app-icon-increase>
          </span>
          <span class="persentage_num">0.22%</span>
        </p>
      </div>
      <div class="line_chart">
        <ul class="react_chart">
          <li>
            <span class="blue_other li_1"></span>
          </li>
          <li>
            <span class="blue_other li_2"></span>
          </li>
          <li>
            <span class="blue_other li_3"></span>
          </li>
          <li>
            <span class="blue_other li_4"></span>
          </li>
          <li>
            <span class="blue_other li_5"></span>
          </li>
          <li>
            <span class="blue li_6"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="chart_box for_grid_2">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">Удержано</p>
        <h3>5.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-increase></app-icon-increase>
          </span>
          <span class="persentage_num">5.16%</span>
        </p>
      </div>
      <div class="line_chart">
        <ul class="react_chart">
          <li>
            <span class="red_other li_1"></span>
          </li>
          <li>
            <span class="red_other li_2"></span>
          </li>
          <li>
            <span class="red_other li_3"></span>
          </li>
          <li>
            <span class="red_other li_4"></span>
          </li>
          <li>
            <span class="red_other li_5"></span>
          </li>
          <li>
            <span class="red li_6"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="chart_box for_grid_3">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">С начала года</p>
        <h3>14.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-decrease></app-icon-decrease>
          </span>
          <span class="persentage_num decrease_num">0.74%</span>
        </p>
      </div>
      <div class="line_chart">
        <ul class="react_chart">
          <li>
            <span class="orange_other li_1"></span>
          </li>
          <li>
            <span class="orange_other li_2"></span>
          </li>
          <li>
            <span class="orange_other li_3"></span>
          </li>
          <li>
            <span class="orange_other li_4"></span>
          </li>
          <li>
            <span class="orange_other li_5"></span>
          </li>
          <li>
            <span class="orange li_6"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="chart_box_id" class="chart_box for_grid_4">
    <div class="chart_box_left_last">
      <div class="chart_box_into">
        <p class="name_box oklad">Должостной оклад</p>
        <h3>5.000.000</h3>
      </div>
      <div class="line_chart"></div>
    </div>
  </div>
</div>
