<!-- md-layout-item md-medium-size-33 md-small-size-35 md-xsmall-size-100 -->
<!-- md-layout md-gutter md-alignment-center -->
<div class="chart">
  <div class="chart_box for_grid_1">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">Начисления</p>
        <h3>6.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-increase></app-icon-increase>
          </span>
          <span class="persentage_num">0.22%</span>
        </p>
      </div>
      <div class="line_chart">
        <app-react-charts></app-react-charts>
      </div>
    </div>
  </div>
  <div class="chart_box for_grid_2">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">Удержано</p>
        <h3>5.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-increase></app-icon-increase>
          </span>
          <span class="persentage_num">5.16%</span>
        </p>
      </div>
      <div class="line_chart">
        <app-react-charts></app-react-charts>
      </div>
    </div>
  </div>
  <div class="chart_box for_grid_3">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box">С начала года</p>
        <h3>14.000.000</h3>
        <p class="persentage">
          <span class="persentage_icon">
            <app-icon-decrease></app-icon-decrease>
          </span>
          <span class="persentage_num decrease_num">0.74%</span>
        </p>
      </div>
      <div class="line_chart">
        <app-react-charts></app-react-charts>
      </div>
    </div>
  </div>
  <div id="chart_box_id" class="chart_box for_grid_4">
    <div class="chart_box_left">
      <div class="chart_box_into">
        <p class="name_box oklad">Должостной оклад</p>
        <h3>5.000.000</h3>
      </div>
      <div class="line_chart">
        <app-react-charts></app-react-charts>
      </div>
    </div>
  </div>
</div>
