.react_chart {
  display: table;
  table-layout: fixed;
  width: 80%;
  max-width: 200px;
  height: 50px;
  margin: 0 auto;
  background-position: left top;
}
.react_chart > li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 70px;
}
.react_chart > li > span {
  margin: 0 0.1em;
  display: block;
  animation: draw 1s ease-in-out;
}

.react_chart > li > .blue_other {
  background: rgba(128, 164, 231, 0.459);
}
.react_chart > li > .red_other {
  background: rgba(240, 110, 121, 0.459);
}
.react_chart > li > .orange_other {
  background: rgba(231, 219, 109, 0.774);
}

.react_chart li > span.blue {
  background: rgba(15, 90, 228, 0.459);
}
.react_chart li > span.red {
  background: rgba(228, 15, 33, 0.459);
}
.react_chart li > span.orange {
  background: rgba(158, 143, 5, 0.774);
}
.react_chart li > span::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
.li_1 {
  height: 15%;
}
.li_2 {
  height: 40%;
}
.li_3 {
  height: 50%;
}
.li_4 {
  height: 55%;
}
.li_5 {
  height: 35%;
}
.li_6 {
  height: 85%;
}
@keyframes draw {
  0% {
    height: 0;
  }
}
