<ul class="react_chart">
  <li>
    <span
      ng-class="{
          blue ? 'blue_other' : '',
          red ? 'red_other' : '',
          orange ? 'orange_other' : '',
        }"
      class="blue_other li_1"
    ></span>
  </li>
  <li>
    <span
      ng-class="{
          blue ? 'blue_other' : '',
          red ? 'red_other' : '',
          orange ? 'orange_other' : '',
        }"
      class="blue_other li_2"
    ></span>
  </li>
  <li>
    <span
      ng-class="{
          blue ? 'blue_other' : '',
          red ? 'red_other' : '',
          orange ? 'orange_other' : '',
        }"
      class="blue_other li_3"
    ></span>
  </li>
  <li>
    <span
      ng-class="{
          blue ? 'blue_other' : '',
          red ? 'red_other' : '',
          orange ? 'orange_other' : '',
        }"
      class="blue_other li_4"
    ></span>
  </li>
  <li>
    <span
      ng-class="{
          blue ? 'blue_other' : '',
          red ? 'red_other' : '',
          orange ? 'orange_other' : '',
        }"
      class="blue_other li_5"
    ></span>
  </li>
  <li>
    <span
      ng-class="{blue ? 'blue' : '', red ? 'red' : '', orange ? 'orange' : ''}"
      class="blue_other li_6"
    ></span>
  </li>
</ul>
